INTEGRANTES: Nicolas Lagos, Carlos Duran, Maximiliano Esparza, Constanza Vargas

# Taller 1

In [2]:
import pandas as pd
df = pd.read_csv("ventas_demo.csv", sep=";")

# BLoque 1 Limpieza de datos con pandas

1. Carga del dataset y muestra las primeras filas

In [3]:
df.head(20)

    Id   Precio  Descuento  Cantidad      Ciudad    Categoria
0    1  16686.0   0.088728         3       Talca   Pastelería
1    2  19594.0   0.036149         5    Santiago  Bebestibles
2    3   8149.0   0.103496         2  Concepción  Bebestibles
3    4   8273.0   0.046188         8  Concepción   Pastelería
4    5  17677.0   0.062412        10    Santiago  Bebestibles
5    6  15340.0   0.119852         7  Concepción         Café
6    7  18282.0   0.127779         2    Santiago   Pastelería
7    8  13864.0   0.068892         2    Santiago         Café
8    9  16659.0   0.149370         5  Concepción       Snacks
9   10  15939.0   0.157875         6  Concepción       Snacks
10  11  19657.0   0.171815         7  Concepción  Bebestibles
11  12  19832.0   0.126471         3       Talca   Pastelería
12  13   5271.0        NaN         6    Santiago       Snacks
13  14   1990.0   0.005960         4  Concepción  Bebestibles
14  15  21000.0   0.084105         8       Talca       Snacks
15  16  22116.0   0.056650         9  Concepción   Pastelería
16  17   8866.0   0.105961         8  Concepción  Bebestibles
17  18   3831.0   0.071428         1      Temuco   Pastelería
18  19  15584.0   0.091692        11  Concepción         Café
19  20  20575.0        NaN         1  Concepción   Pastelería

2. Calcula la cantidad de valores nulos por columna

In [4]:
df.isna().sum().sort_values(ascending=False)

Descuento    15
Categoria     9
Precio        0
Id            0
Cantidad      0
Ciudad        0
dtype: int64

3. Imputa los valores faltantes de Descuento con la mediana

In [5]:
df['Descuento'].fillna(df['Descuento'].median(), inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\188832815.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Descuento'].fillna(df['Descuento'].median(), inplace=True)

In [6]:
df.isna().sum().sort_values(ascending=False)

Categoria    9
Id           0
Precio       0
Descuento    0
Cantidad     0
Ciudad       0
dtype: int64

In [7]:
df.head(20)

    Id   Precio  Descuento  Cantidad      Ciudad    Categoria
0    1  16686.0   0.088728         3       Talca   Pastelería
1    2  19594.0   0.036149         5    Santiago  Bebestibles
2    3   8149.0   0.103496         2  Concepción  Bebestibles
3    4   8273.0   0.046188         8  Concepción   Pastelería
4    5  17677.0   0.062412        10    Santiago  Bebestibles
5    6  15340.0   0.119852         7  Concepción         Café
6    7  18282.0   0.127779         2    Santiago   Pastelería
7    8  13864.0   0.068892         2    Santiago         Café
8    9  16659.0   0.149370         5  Concepción       Snacks
9   10  15939.0   0.157875         6  Concepción       Snacks
10  11  19657.0   0.171815         7  Concepción  Bebestibles
11  12  19832.0   0.126471         3       Talca   Pastelería
12  13   5271.0   0.105917         6    Santiago       Snacks
13  14   1990.0   0.005960         4  Concepción  Bebestibles
14  15  21000.0   0.084105         8       Talca       Snacks
15  16  22116.0   0.056650         9  Concepción   Pastelería
16  17   8866.0   0.105961         8  Concepción  Bebestibles
17  18   3831.0   0.071428         1      Temuco   Pastelería
18  19  15584.0   0.091692        11  Concepción         Café
19  20  20575.0   0.105917         1  Concepción   Pastelería

4. Reemplaza los nulos de Categoría con el valor más frecuente

In [8]:
df['Categoria'].fillna(df['Categoria'].mode()[0], inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\2481078812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Categoria'].fillna(df['Categoria'].mode()[0], inplace=True)

In [9]:
df.isna().sum().sort_values(ascending=False)

Id           0
Precio       0
Descuento    0
Cantidad     0
Ciudad       0
Categoria    0
dtype: int64

5. Elimina los duplicados

In [10]:
df.duplicated().sum()

np.int64(4)

In [11]:
df=df.drop_duplicates()

In [12]:
df.duplicated().sum()

np.int64(0)

6. Detecta los outliers de Precio usando el método IQR

In [13]:
Q1 = df['Precio'].quantile(0.25)
Q3 = df['Precio'].quantile(0.75)
IQR = Q3 - Q1
Outliers = df[(df['Precio'] < Q1 - 1.5 * IQR) | (df['Precio'] > Q3 + 1.5 * IQR)]

7. Indica cuántos outliers fueron detectados (solo número, no análisis)

In [14]:
Outliers.shape[0] #Outliers de Precio

3

# Bloque 2 Preprocesamiento y Probabilidad

In [15]:
import pandas as pd
df2 = pd.read_csv("productos_demo.csv", sep=";")

In [16]:
df2.isna().sum().sort_values(ascending=False)

Categoria    7
Proveedor    5
Stock        0
Precio       0
dtype: int64

In [17]:
df2['Categoria'].fillna(df2['Categoria'].mode()[0], inplace=True)
df2['Proveedor'].fillna(df2['Proveedor'].mode()[0], inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\1432465839.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Categoria'].fillna(df2['Categoria'].mode()[0], inplace=True)
C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\1432465839.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Proveedor'].fillna(df2['Proveedor'].mode()[0], inplace=True)

In [18]:
df2.isna().sum().sort_values(ascending=False)

Precio       0
Stock        0
Categoria    0
Proveedor    0
dtype: int64

1.  Normaliza las columnas númericas (Precio, Stock) con MinMaxScaler

In [19]:
from sklearn.preprocessing import MinMaxScaler

scalerMM = MinMaxScaler()
df2[['Precio', 'Stock']] = scalerMM.fit_transform(df2[['Precio', 'Stock']])

In [20]:
df2[['Precio', 'Stock']]

       Precio  Stock
0    0.169240  0.192
1    0.314034  0.520
2    0.294622  0.344
3    0.585080  0.912
4    0.592342  0.096
..        ...    ...
138  0.168079  0.216
139  0.332672  0.520
140  0.121799  0.456
141  0.359781  0.216
142  0.585080  0.912

[143 rows x 2 columns]

In [21]:
df2

       Precio  Stock Categoria   Proveedor
0    0.169240  0.192   Línea B     ProvSur
1    0.314034  0.520   Línea B  ProvCentro
2    0.294622  0.344   Línea B     ProvSur
3    0.585080  0.912   Línea A     ProvSur
4    0.592342  0.096   Línea B     ProvSur
..        ...    ...       ...         ...
138  0.168079  0.216   Línea A     ProvSur
139  0.332672  0.520   Línea B  ProvCentro
140  0.121799  0.456   Línea A   ProvNorte
141  0.359781  0.216   Línea A     ProvSur
142  0.585080  0.912   Línea A     ProvSur

[143 rows x 4 columns]

4.Calcula la probabilidad conjunta de de que Stock > 50 y Precio > 10000

In [22]:
totalStock = len(df2['Stock'])
favorables = ((df2['Stock'] > 50) & (df2['Precio'] > 10000)).sum()
pEmpirica = (favorables/totalStock)
print(f"{pEmpirica:.2f}")

0.00

# Bloque 3 Mini Desafío Integrador

In [23]:
import pandas as pd
df3 = pd.read_csv('clientes_integrador.csv', sep=';')

In [24]:
df3.head(20)

    Id  Edad  IngresoMensual     Deuda      Ciudad Genero
0    1    21        847804.0       0.0  Concepción      M
1    2    43        589493.0  183505.0   San Pedro      M
2    3    46        845798.0  421486.0   San Pedro      M
3    4    33        581787.0  163355.0  Concepción      F
4    5    41        490102.0  233122.0  Talcahuano      M
5    6    49        890290.0  367393.0  Concepción      F
6    7    21        865276.0  493895.0   San Pedro      M
7    8    27        993785.0  145010.0  Concepción      M
8    9    65       1475759.0  217811.0  Talcahuano      F
9   10    39        903187.0  456867.0  Concepción      M
10  11    55        965525.0   22114.0  Talcahuano      M
11  12    53        496732.0  353586.0     Chillán      M
12  13    52        433928.0   87619.0  Concepción      F
13  14    43       1294849.0  233321.0   San Pedro      F
14  15    47        542956.0  188460.0     Chillán      F
15  16    69        506817.0   95458.0   San Pedro      F
16  17    77        808270.0   92197.0  Concepción      M
17  18    33        792942.0  255934.0   San Pedro      F
18  19    59        549248.0  349420.0  Concepción      M
19  20    78        728508.0  203134.0  Concepción      F

1.Limpia los datos: elimina duplicados, imputa nulos con media/moda según corresponda.

In [25]:
df3.isna().sum().sort_values(ascending=False)

IngresoMensual    12
Genero            10
Edad               0
Id                 0
Deuda              0
Ciudad             0
dtype: int64

In [26]:
df3['IngresoMensual'].fillna(df3['IngresoMensual'].mean(), inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\1085764471.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['IngresoMensual'].fillna(df3['IngresoMensual'].mean(), inplace=True)

In [27]:
df3.isna().sum().sort_values(ascending=False)

Genero            10
Id                 0
Edad               0
IngresoMensual     0
Deuda              0
Ciudad             0
dtype: int64

In [28]:
df3['Genero'].fillna(df3['Genero'].mode()[0], inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_29108\3515832937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['Genero'].fillna(df3['Genero'].mode()[0], inplace=True)

In [29]:
df3.isna().sum().sort_values(ascending=False)

Id                0
Edad              0
IngresoMensual    0
Deuda             0
Ciudad            0
Genero            0
dtype: int64

In [30]:
df3_copia = df3.copy()

2.Normaliza las variables numéricas (Edad, IngresoMensual, Deuda) usando StandardScaler.

In [31]:
from sklearn.preprocessing import StandardScaler

scalerMM = StandardScaler()
df3[['Edad','IngresoMensual', 'Deuda']] = scalerMM.fit_transform(df3[['Edad','IngresoMensual', 'Deuda']])

In [32]:
df3[['Edad', 'IngresoMensual', 'Deuda']]

         Edad  IngresoMensual     Deuda
0   -1.531996        0.104969 -0.591283
1   -0.270549       -0.690918 -0.239804
2   -0.098533        0.098789  0.216018
3   -0.843934       -0.714661 -0.278398
4   -0.385226       -0.997154 -0.144769
..        ...             ...       ...
201 -0.614580       -0.230636 -0.591283
202  1.449607        1.407683 -0.591283
203  1.105576       -1.052781 -0.374753
204 -0.270549       -0.690918 -0.239804
205 -0.843934       -1.415737 -0.034897

[206 rows x 3 columns]

3.Codifica las variables categóricas (Ciudad, Genero) con OneHotEncoder.

In [33]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder(sparse_output=False)
encoded2 = OHE.fit_transform(df3[['Ciudad', 'Genero']])
df_encoded2 = pd.DataFrame(encoded2, columns=OHE.get_feature_names_out(['Ciudad', 'Genero']))
df3 = pd.concat([df3, df_encoded2], axis=1)

In [34]:
df3 = df3.drop(columns=['Ciudad', 'Genero'])

In [35]:
df3

,Id,Edad,IngresoMensual,Deuda,Ciudad_Chillán,Ciudad_Concepción,Ciudad_San Pedro,Ciudad_Talcahuano,Genero_F,Genero_M
0,1,-1.531996,0.104969,-0.591283,0.0,1.0,0.0,0.0,0.0,1.0
1,2,-0.270549,-0.690918,-0.239804,0.0,0.0,1.0,0.0,0.0,1.0
2,3,-0.098533,0.098789,0.216018,0.0,0.0,1.0,0.0,0.0,1.0
3,4,-0.843934,-0.714661,-0.278398,0.0,1.0,0.0,0.0,1.0,0.0
4,5,-0.385226,-0.997154,-0.144769,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
201,100,-0.614580,-0.230636,-0.591283,0.0,1.0,0.0,0.0,1.0,0.0
202,129,1.449607,1.407683,-0.591283,0.0,0.0,1.0,0.0,0.0,1.0
203,176,1.105576,-1.052781,-0.374753,0.0,0.0,1.0,0.0,1.0,0.0
204,2,-0.270549,-0.690918,-0.239804,0.0,0.0,1.0,0.0,0.0,1.0
205,112,-0.843934,-1.415737,-0.034897,0.0,0.0,1.0,0.0,1.0,0.0

4.a. La probabilidad de que un cliente tenga IngresoMensual > 800000.

In [36]:
import pandas as pd
df3_copia = pd.read_csv('clientes_integrador.csv', sep=';')
totalStock = len(df3_copia['IngresoMensual'])
favorables = (df3_copia['IngresoMensual'] > 800000).sum()
pEmpirica = (favorables/totalStock)
print(f"{pEmpirica:.2f}")

0.51

4.b. La probabilidad conjunta de que IngresoMensual > 800000 y Deuda < 200000.

In [37]:
favorables = ((df3_copia['IngresoMensual'] > 800000 ) & (df3_copia['Deuda'] < 200000)).sum()
totalStock = len(df3_copia['IngresoMensual'])
pEmpirica = favorables / totalStock
print(f"{pEmpirica:.2f}")

0.17

5.Exporta el dataset final limpio y transformado a clientes_integrador_limpio.csv.

In [38]:
df3.to_csv('clientes_integrador_limpio.csv', sep=';', index=False, encoding='utf-8')

# TALLER 2

In [39]:
import pandas as pd
df_l = pd.read_csv('clientes_integrador_limpio.csv', sep=';', encoding="UTF-8")

PORCENTAJE DE NULOS

In [40]:
df_l.isnull().mean()*100

Id                   0.0
Edad                 0.0
IngresoMensual       0.0
Deuda                0.0
Ciudad_Chillán       0.0
Ciudad_Concepción    0.0
Ciudad_San Pedro     0.0
Ciudad_Talcahuano    0.0
Genero_F             0.0
Genero_M             0.0
dtype: float64

CALCULO DE OUTLIERS

In [41]:
Q1 = df_l['Deuda'].quantile(0.25)
Q3 = df_l['Deuda'].quantile(0.75)
IQR = Q3 - Q1

outliers = df_l[(df_l['Deuda'] < Q1-1.5*IQR) | (df_l['Deuda'] > Q3+1.5*IQR)]

df_sinOutliers = df_l[(df_l['Deuda'] >= Q1-1.5*IQR) & (df_l['Deuda'] <= Q3+1.5*IQR)]

In [42]:
df_sinOutliers.describe()

,Id,Edad,IngresoMensual,Deuda,Ciudad_Chillán,Ciudad_Concepción,Ciudad_San Pedro,Ciudad_Talcahuano,Genero_F,Genero_M
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,99.792079,0.004222,0.009636,-0.136564,0.079208,0.450495,0.232673,0.237624,0.544554,0.455446
std,57.609824,0.990686,0.996218,0.244216,0.270734,0.498779,0.423585,0.426685,0.499248,0.499248
min,1.000000,-1.704012,-2.812662,-0.591283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51.250000,-0.786595,-0.658443,-0.304426,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,100.500000,-0.069864,0.000000,-0.141162,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,148.750000,0.818883,0.641839,0.034931,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,200.000000,1.793638,2.577345,0.478395,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

BINARIZACIÓN SEGUN PERCENTIL 75

In [43]:
import numpy as np

p75 = np.percentile(df_sinOutliers['Deuda'], 75)
y_bin = (df_sinOutliers['Deuda'] > p75).astype(int)

In [44]:
y_bin

0      0
1      0
2      1
3      0
4      0
      ..
201    0
202    0
203    0
204    0
205    0
Name: Deuda, Length: 202, dtype: int64

CONTEO DE VARIABLES 0 Y 1

In [45]:
y_bin.value_counts()

Deuda
0    151
1     51
Name: count, dtype: int64

PORCENTAJE DE DEUDA ALTA

In [46]:
pct_ones = y_bin.mean()*100
pct_ones

np.float64(25.247524752475247)

SELECCION DE VARIABLES SIN "DEUDA" NI "ID"

In [47]:
x = df_sinOutliers.drop(columns=["Deuda", 'Id']).copy()
x

,Edad,IngresoMensual,Ciudad_Chillán,Ciudad_Concepción,Ciudad_San Pedro,Ciudad_Talcahuano,Genero_F,Genero_M
0,-1.531996,0.104969,0.0,1.0,0.0,0.0,0.0,1.0
1,-0.270549,-0.690918,0.0,0.0,1.0,0.0,0.0,1.0
2,-0.098533,0.098789,0.0,0.0,1.0,0.0,0.0,1.0
3,-0.843934,-0.714661,0.0,1.0,0.0,0.0,1.0,0.0
4,-0.385226,-0.997154,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...
201,-0.614580,-0.230636,0.0,1.0,0.0,0.0,1.0,0.0
202,1.449607,1.407683,0.0,0.0,1.0,0.0,0.0,1.0
203,1.105576,-1.052781,0.0,0.0,1.0,0.0,1.0,0.0
204,-0.270549,-0.690918,0.0,0.0,1.0,0.0,0.0,1.0
205,-0.843934,-1.415737,0.0,0.0,1.0,0.0,1.0,0.0

ENTRENAMIENTO

In [48]:
from sklearn.model_selection import train_test_split
Xtr, Xte, ytr, yte = train_test_split(
    x, y_bin, test_size=0.20,
    random_state=42, stratify=y_bin #Porcentaje balanceado
)

In [49]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

PROPORCION DE CLASE MINORITARIA

In [50]:
minor_prop = ytr.value_counts(normalize=True).min() #Normalize ->

In [51]:
minor_prop

np.float64(0.2546583850931677)

TECNICA DE BALANCEO

In [52]:
if minor_prop < 0.35:
    sampler = RandomOverSampler(random_state=42)
    tecnica = "ROS"
elif 0.45 <= minor_prop <= 0.55:
    sampler = None
    tecnica = "none"
else:
    sampler = RandomUnderSampler(random_state=42)
    tecnica = "RUS"

print("Tecnica de balanceo: ", tecnica)

Tecnica de balanceo:  ROS

In [53]:
if sampler is not None:
    xtr_bal, ytr_bal = sampler.fit_resample(Xtr, ytr)
else:
    xtr_bal, ytr_bal = Xtr, ytr

PCA

In [54]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.95, random_state=42)
xtr_pca= pca.fit_transform(xtr_bal)
xte_pca = pca.fit_transform(Xte)
print("Componentes retenidos: ", pca.n_components_)
print("Varianza acomulada: ", pca.explained_variance_ratio_.sum().round(4))

Componentes retenidos:  5
Varianza acomulada:  0.9809

# Taller 3: Minería de Datos

In [55]:
sc_pc = StandardScaler()
xtr_pca_sc = sc_pc.fit_transform(xtr_pca)
xte_pca_sc = sc_pc.fit_transform(xte_pca)

In [56]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [57]:
mlp = MLPClassifier(
    hidden_layer_sizes=(32,16),
    alpha = 1e-3, #Alpha -> 0,001 ; Descenso del gradiente busca el punto más bajo
    max_iter=500,
    activation="relu", # Funcion de activacion de la reurona;
    #elige la forma que va a tener cada neurona ; tangentehiperbolica
    random_state=42,
    early_stopping=True, #Si no varía mucho entre iteraciones, lo detiene.
)

mlp.fit(Xtr, ytr)
y_pred = mlp.predict(Xte)

print("Accuracy: ", accuracy_score(yte, y_pred))

Accuracy:  0.7560975609756098

# Taller 4: Árbol de desición

In [9]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE

dfNormal = pd.read_csv('clientes_integrador.csv', sep=';')

dfNormal['IngresoMensual'].fillna(dfNormal['IngresoMensual'].mean(), inplace=True)
dfNormal['Genero'].fillna(dfNormal['Genero'].mode()[0], inplace=True)

Q1 = dfNormal['Deuda'].quantile(0.25)
Q3 = dfNormal['Deuda'].quantile(0.75)
IQR = Q3 - Q1
dfNormalSinOutliers = dfNormal[(dfNormal['Deuda'] >= Q1 - 1.5 * IQR) & (dfNormal['Deuda'] <= Q3 + 1.5 * IQR)].copy()

umbralDeuda = dfNormalSinOutliers['Deuda'].quantile(0.75) #75 percentil de Deuda
dfNormalSinOutliers['claseDeuda'] = np.where(dfNormalSinOutliers['Deuda'] > umbralDeuda, 1, 0) #1 si es mayor al umbral, 0 si no

print(dfNormalSinOutliers['claseDeuda'].value_counts(normalize=True)) #Proporcion de cada clase

X = dfNormalSinOutliers[['Edad', 'IngresoMensual']]
y = dfNormalSinOutliers['claseDeuda']


Xtr, Xte, ytr, yte = train_test_split(
    X, y, test_size=0.20, random_state=42, stratify=y
)

smote = SMOTE(random_state=42, k_neighbors=3)
Xtr_smote, ytr_smote = smote.fit_resample(Xtr, ytr)

arbol = DecisionTreeClassifier(
    random_state=42,
    max_depth=6,
    class_weight='balanced'
)
arbol.fit(Xtr_smote, ytr_smote)
y_pred = arbol.predict(Xte)

print("Accuracy: ", accuracy_score(yte, y_pred))
print(classification_report(yte, y_pred, target_names=['DeudaBaja', 'DeudaAlta']))

tn, fp, fn, tp = confusion_matrix(yte, y_pred).ravel()
sensibilidad = tp / (tp + fn) if (tp + fn) > 0 else 0
especificidad = tn / (tn + fp) if (tn + fp) > 0 else 0
print(f"\nSensibilidad (detecta DeudaAlta): {sensibilidad:.2%}")
print(f"Especificidad (detecta DeudaBaja): {especificidad:.2%}")

# plt.figure(figsize=(14, 8))
# plot_tree(
#     arbol,
#     feature_names=['Edad', 'IngresoMensual'],
#     class_names=['DeudaBaja', 'DeudaAlta'],
#     filled=True,
#     rounded=True,
#     fontsize=11
# )
# plt.show()

from sklearn.tree import export_text
arbol_rules = export_text(arbol, feature_names=['Edad', 'IngresoMensual'])
print("Reglas del Árbol de Decisión:\n")
print(arbol_rules)

claseDeuda
0    0.747525
1    0.252475
Name: proportion, dtype: float64
Accuracy:  0.6585365853658537
              precision    recall  f1-score   support

   DeudaBaja       0.81      0.71      0.76        31
   DeudaAlta       0.36      0.50      0.42        10

    accuracy                           0.66        41
   macro avg       0.59      0.60      0.59        41
weighted avg       0.70      0.66      0.68        41


Sensibilidad (detecta DeudaAlta): 50.00%
Especificidad (detecta DeudaBaja): 70.97%
Reglas del Árbol de Decisión:

|--- IngresoMensual <= 828401.00
|   |--- IngresoMensual <= 138014.00
|   |   |--- Edad <= 57.00
|   |   |   |--- Edad <= 47.00
|   |   |   |   |--- class: 1
|   |   |   |--- Edad >  47.00
|   |   |   |   |--- class: 0
|   |   |--- Edad >  57.00
|   |   |   |--- Edad <= 67.50
|   |   |   |   |--- class: 1
|   |   |   |--- Edad >  67.50
|   |   |   |   |--- IngresoMensual <= 110951.06
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- IngresoMensual >  110951.06
|   |   |   |   |   |--- class: 1
|   |--- IngresoMensual >  138014.00
|   |   |--- IngresoMensual <= 672285.50
|   |   |   |--- IngresoMensual <= 480925.00
|   |   |   |   |--- class: 0
|   |   |   |--- IngresoMensual >  480925.00
|   |   |   |   |--- Edad <= 52.50
|   |   |   |   |   |--- IngresoMensual <= 622388.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- IngresoMensual >  622388.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Edad >  52.50
|   |   |   |   |   |--- Edad <= 61.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Edad >  61.50
|   |   |   |   |   |   |--- class: 0
|   |   |--- IngresoMensual >  672285.50
|   |   |   |--- Edad <= 42.50
|   |   |   |   |--- Edad <= 37.50
|   |   |   |   |   |--- Edad <= 22.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Edad >  22.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Edad >  37.50
|   |   |   |   |   |--- IngresoMensual <= 804004.16
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IngresoMensual >  804004.16
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- Edad >  42.50
|   |   |   |   |--- class: 0
|--- IngresoMensual >  828401.00
|   |--- Edad <= 71.50
|   |   |--- IngresoMensual <= 943096.47
|   |   |   |--- Edad <= 20.00
|   |   |   |   |--- class: 0
|   |   |   |--- Edad >  20.00
|   |   |   |   |--- Edad <= 46.50
|   |   |   |   |   |--- Edad <= 35.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Edad >  35.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Edad >  46.50
|   |   |   |   |   |--- IngresoMensual <= 895495.34
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IngresoMensual >  895495.34
|   |   |   |   |   |   |--- class: 0
|   |   |--- IngresoMensual >  943096.47
|   |   |   |--- Edad <= 43.50
|   |   |   |   |--- IngresoMensual <= 1389082.00
|   |   |   |   |   |--- IngresoMensual <= 989712.12
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IngresoMensual >  989712.12
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- IngresoMensual >  1389082.00
|   |   |   |   |   |--- class: 1
|   |   |   |--- Edad >  43.50
|   |   |   |   |--- IngresoMensual <= 982150.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- IngresoMensual >  982150.00
|   |   |   |   |   |--- IngresoMensual <= 1224369.88
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IngresoMensual >  1224369.88
|   |   |   |   |   |   |--- class: 1
|   |--- Edad >  71.50
|   |   |--- Edad <= 75.50
|   |   |   |--- class: 0
|   |   |--- Edad >  75.50
|   |   |   |--- IngresoMensual <= 922291.50
|   |   |   |   |--- class: 0
|   |   |   |--- IngresoMensual >  922291.50
|   |   |   |   |--- IngresoMensual <= 1022136.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- IngresoMensual >  1022136.50
|   |   |   |   |   |--- class: 0

C:\Users\nicol\AppData\Local\Temp\ipykernel_22092\2011715846.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfNormal['IngresoMensual'].fillna(dfNormal['IngresoMensual'].mean(), inplace=True)
C:\Users\nicol\AppData\Local\Temp\ipykernel_22092\2011715846.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfNormal['Genero'].fillna(dfNormal['Genero'].mode()[0], inplace=True)

In [ ]:
# ============================================================================
# ÁRBOL DE DECISIÓN - CLASIFICACIÓN DE DEUDA
# ============================================================================

# Librerías
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn import tree
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.metrics import recall_score, precision_score, f1_score
from imblearn.over_sampling import RandomOverSampler, SMOTE

# ============================================================================
# 1. CARGA Y EXPLORACIÓN INICIAL
# ============================================================================
print("="*70)
print("PASO 1: CARGA DE DATOS")
print("="*70)

dfNormal = pd.read_csv('clientes_integrador.csv', sep=';')

print(f"Total de registros: {len(dfNormal)}")
print(f"\nColumnas: {dfNormal.columns.tolist()}")
print(f"\nValores nulos:")
print(dfNormal.isnull().sum())

# ============================================================================
# 2. LIMPIEZA DE DATOS
# ============================================================================
print("\n" + "="*70)
print("PASO 2: LIMPIEZA DE DATOS")
print("="*70)

# Imputar valores faltantes
dfNormal['IngresoMensual'].fillna(dfNormal['IngresoMensual'].mean(), inplace=True)
dfNormal['Genero'].fillna(dfNormal['Genero'].mode()[0], inplace=True)

print("✓ Valores nulos imputados")

# Eliminar outliers en Deuda
Q1 = dfNormal['Deuda'].quantile(0.25)
Q3 = dfNormal['Deuda'].quantile(0.75)
IQR = Q3 - Q1

print(f"\nDetección de outliers en Deuda:")
print(f"  Q1: ${Q1:,.0f}")
print(f"  Q3: ${Q3:,.0f}")
print(f"  IQR: ${IQR:,.0f}")

outliers = dfNormal[(dfNormal['Deuda'] < Q1 - 1.5*IQR) | (dfNormal['Deuda'] > Q3 + 1.5*IQR)]
print(f"  Outliers detectados: {len(outliers)} ({len(outliers)/len(dfNormal)*100:.1f}%)")

# Eliminar outliers
df_sinOutliers = dfNormal[(dfNormal['Deuda'] >= Q1 - 1.5*IQR) & 
                           (dfNormal['Deuda'] <= Q3 + 1.5*IQR)].copy()

print(f"✓ Registros después de limpiar: {len(df_sinOutliers)}")

# ============================================================================
# 3. CREACIÓN DE VARIABLE OBJETIVO
# ============================================================================
print("\n" + "="*70)
print("PASO 3: CREACIÓN DE VARIABLE OBJETIVO")
print("="*70)

umbralDeuda = df_sinOutliers['Deuda'].quantile(0.75)
df_sinOutliers['claseDeuda'] = np.where(df_sinOutliers['Deuda'] > umbralDeuda, 1, 0)

print(f"Umbral de deuda (Percentil 75): ${umbralDeuda:,.0f}")
print(f"\nDistribución de clases:")
print(df_sinOutliers['claseDeuda'].value_counts())
print(f"\nProporción:")
print(df_sinOutliers['claseDeuda'].value_counts(normalize=True))

# ============================================================================
# 4. PREPARACIÓN DE DATOS (SOLO VARIABLES NUMÉRICAS)
# ============================================================================
print("\n" + "="*70)
print("PASO 4: PREPARACIÓN DE DATOS")
print("="*70)

# Seleccionar solo Edad e IngresoMensual (sin Ciudad ni Género)
X = df_sinOutliers[['Edad', 'IngresoMensual']].copy()
y = df_sinOutliers['claseDeuda'].copy()

print(f"Features seleccionadas: {X.columns.tolist()}")
print(f"Shape de X: {X.shape}")
print(f"Shape de y: {y.shape}")

# ============================================================================
# 5. SPLIT DE DATOS
# ============================================================================
print("\n" + "="*70)
print("PASO 5: SPLIT DE DATOS")
print("="*70)

Xtr, Xte, ytr, yte = train_test_split(
    X, y, 
    test_size=0.20, 
    random_state=42, 
    stratify=y
)

print(f"Total de datos: {len(X)}")
print(f"Train: {len(Xtr)} ({len(Xtr)/len(X)*100:.1f}%)")
print(f"Test: {len(Xte)} ({len(Xte)/len(X)*100:.1f}%)")
print(f"\nDistribución en Train:")
print(ytr.value_counts())
print(f"\nDistribución en Test:")
print(yte.value_counts())

# ============================================================================
# 6. COMPARACIÓN: RandomOverSampler vs SMOTE
# ============================================================================
print("\n" + "="*70)
print("PASO 6: COMPARACIÓN DE TÉCNICAS DE BALANCEO")
print("="*70)

resultados_balanceo = []

# ----- OPCIÓN A: RandomOverSampler -----
print("\n🔵 Opción A: RandomOverSampler")
print("-"*70)

ros = RandomOverSampler(random_state=42)
Xtr_ros, ytr_ros = ros.fit_resample(Xtr, ytr)

print(f"Datos después de ROS: {len(Xtr_ros)}")
print(f"Distribución: {pd.Series(ytr_ros).value_counts().to_dict()}")

dtc_ros = DecisionTreeClassifier(
    random_state=42, 
    max_depth=3, 
    min_samples_split=20, 
    min_samples_leaf=10, 
    class_weight='balanced'
)
dtc_ros.fit(Xtr_ros, ytr_ros)
y_pred_ros = dtc_ros.predict(Xte)

acc_ros = accuracy_score(yte, y_pred_ros)
recall_ros = recall_score(yte, y_pred_ros, pos_label=1)
precision_ros = precision_score(yte, y_pred_ros, pos_label=1, zero_division=0)
f1_ros = f1_score(yte, y_pred_ros, pos_label=1, zero_division=0)

print(f"Accuracy Test: {acc_ros:.4f}")
print(f"Recall DeudaAlta: {recall_ros:.4f}")
print(f"F1-Score DeudaAlta: {f1_ros:.4f}")

resultados_balanceo.append({
    'Método': 'RandomOverSampler',
    'Accuracy': acc_ros,
    'Recall_DeudaAlta': recall_ros,
    'Precision_DeudaAlta': precision_ros,
    'F1_DeudaAlta': f1_ros
})

# ----- OPCIÓN B: SMOTE -----
print("\n🟢 Opción B: SMOTE")
print("-"*70)

smote = SMOTE(random_state=42, k_neighbors=3)
Xtr_smote, ytr_smote = smote.fit_resample(Xtr, ytr)

print(f"Datos después de SMOTE: {len(Xtr_smote)}")
print(f"Distribución: {pd.Series(ytr_smote).value_counts().to_dict()}")

dtc_smote = DecisionTreeClassifier(
    random_state=42, 
    max_depth=3, 
    min_samples_split=20,
    min_samples_leaf=10, 
    class_weight='balanced'
)
dtc_smote.fit(Xtr_smote, ytr_smote)
y_pred_smote = dtc_smote.predict(Xte)

acc_smote = accuracy_score(yte, y_pred_smote)
recall_smote = recall_score(yte, y_pred_smote, pos_label=1)
precision_smote = precision_score(yte, y_pred_smote, pos_label=1, zero_division=0)
f1_smote = f1_score(yte, y_pred_smote, pos_label=1, zero_division=0)

print(f"Accuracy Test: {acc_smote:.4f}")
print(f"Recall DeudaAlta: {recall_smote:.4f}")
print(f"F1-Score DeudaAlta: {f1_smote:.4f}")

resultados_balanceo.append({
    'Método': 'SMOTE',
    'Accuracy': acc_smote,
    'Recall_DeudaAlta': recall_smote,
    'Precision_DeudaAlta': precision_smote,
    'F1_DeudaAlta': f1_smote
})

# ----- COMPARACIÓN -----
print("\n" + "="*70)
print("📊 RESUMEN COMPARATIVO")
print("="*70)

df_resultados = pd.DataFrame(resultados_balanceo)
print(df_resultados.to_string(index=False))

mejor_idx = df_resultados['F1_DeudaAlta'].idxmax()
mejor_metodo = df_resultados.loc[mejor_idx, 'Método']
print(f"\n🏆 GANADOR: {mejor_metodo} (mejor F1-Score en DeudaAlta)")

# ============================================================================
# 7. MODELO FINAL (con el mejor método)
# ============================================================================
print("\n" + "="*70)
print("PASO 7: MODELO FINAL")
print("="*70)

# Usar el mejor método
if mejor_metodo == 'SMOTE':
    Xtr_final, ytr_final = Xtr_smote, ytr_smote
    dtc_final = dtc_smote
    y_pred_final = y_pred_smote
else:
    Xtr_final, ytr_final = Xtr_ros, ytr_ros
    dtc_final = dtc_ros
    y_pred_final = y_pred_ros

print(f"Método seleccionado: {mejor_metodo}")

# Evaluación completa
print("\n--- Reporte de Clasificación (TEST) ---")
print(classification_report(yte, y_pred_final, target_names=['DeudaBaja', 'DeudaAlta']))

print("\n--- Matriz de Confusión (TEST) ---")
cm = confusion_matrix(yte, y_pred_final)
print(cm)

tn, fp, fn, tp = cm.ravel()
print(f"\nVerdaderos Negativos (VN): {tn}")
print(f"Falsos Positivos (FP): {fp}")
print(f"Falsos Negativos (FN): {fn}")
print(f"Verdaderos Positivos (VP): {tp}")

sensibilidad = tp / (tp + fn) if (tp + fn) > 0 else 0
especificidad = tn / (tn + fp) if (tn + fp) > 0 else 0

print(f"\n📊 Sensibilidad (detecta DeudaAlta): {sensibilidad:.2%}")
print(f"📊 Especificidad (detecta DeudaBaja): {especificidad:.2%}")

# ============================================================================
# 8. IMPORTANCIA DE CARACTERÍSTICAS
# ============================================================================
print("\n" + "="*70)
print("PASO 8: IMPORTANCIA DE CARACTERÍSTICAS")
print("="*70)

for feature, importance in zip(['Edad', 'IngresoMensual'], dtc_final.feature_importances_):
    print(f"{feature:20s}: {importance:.4f} ({importance*100:.1f}%)")

# ============================================================================
# 9. REGLAS DE DECISIÓN
# ============================================================================
print("\n" + "="*70)
print("PASO 9: REGLAS DE DECISIÓN DEL ÁRBOL")
print("="*70)

tree_rules = export_text(dtc_final, feature_names=['Edad', 'IngresoMensual'])
print(tree_rules)

# ============================================================================
# 10. VISUALIZACIÓN DEL ÁRBOL
# ============================================================================
print("\n" + "="*70)
print("PASO 10: VISUALIZACIÓN")
print("="*70)

plt.figure(figsize=(20, 10))
plot_tree(
    dtc_final,
    feature_names=['Edad', 'IngresoMensual'],
    class_names=['DeudaBaja', 'DeudaAlta'],
    filled=True,
    rounded=True,
    fontsize=12,
    proportion=False
)
plt.title(f"Árbol de Decisión - Clasificación de Deuda (Método: {mejor_metodo})\n" + 
          f"Umbral: ${umbralDeuda:,.0f}", 
          fontsize=16, fontweight='bold')
plt.tight_layout()
plt.show()

print("\n✅ Proceso completado")