In [1]:
import pandas as pd
df = pd.read_csv("ventas_demo.csv", sep=";")

# BLoque 1 Limpieza de datos con pandas

1. Carga del dataset y muestra las primeras filas

In [2]:
df.head(20)

    Id   Precio  Descuento  Cantidad      Ciudad    Categoria
0    1  16686.0   0.088728         3       Talca   Pastelería
1    2  19594.0   0.036149         5    Santiago  Bebestibles
2    3   8149.0   0.103496         2  Concepción  Bebestibles
3    4   8273.0   0.046188         8  Concepción   Pastelería
4    5  17677.0   0.062412        10    Santiago  Bebestibles
5    6  15340.0   0.119852         7  Concepción         Café
6    7  18282.0   0.127779         2    Santiago   Pastelería
7    8  13864.0   0.068892         2    Santiago         Café
8    9  16659.0   0.149370         5  Concepción       Snacks
9   10  15939.0   0.157875         6  Concepción       Snacks
10  11  19657.0   0.171815         7  Concepción  Bebestibles
11  12  19832.0   0.126471         3       Talca   Pastelería
12  13   5271.0        NaN         6    Santiago       Snacks
13  14   1990.0   0.005960         4  Concepción  Bebestibles
14  15  21000.0   0.084105         8       Talca       Snacks
15  16  22116.0   0.056650         9  Concepción   Pastelería
16  17   8866.0   0.105961         8  Concepción  Bebestibles
17  18   3831.0   0.071428         1      Temuco   Pastelería
18  19  15584.0   0.091692        11  Concepción         Café
19  20  20575.0        NaN         1  Concepción   Pastelería

2. Calcula la cantidad de valores nulos por columna

In [3]:
df.isna().sum().sort_values(ascending=False)

Descuento    15
Categoria     9
Precio        0
Id            0
Cantidad      0
Ciudad        0
dtype: int64

3. Imputa los valores faltantes de Descuento con la mediana

In [4]:
df['Descuento'].fillna(df['Descuento'].median(), inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_17156\188832815.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Descuento'].fillna(df['Descuento'].median(), inplace=True)

In [5]:
df.isna().sum().sort_values(ascending=False)

Categoria    9
Id           0
Precio       0
Descuento    0
Cantidad     0
Ciudad       0
dtype: int64

In [6]:
df.head(20)

    Id   Precio  Descuento  Cantidad      Ciudad    Categoria
0    1  16686.0   0.088728         3       Talca   Pastelería
1    2  19594.0   0.036149         5    Santiago  Bebestibles
2    3   8149.0   0.103496         2  Concepción  Bebestibles
3    4   8273.0   0.046188         8  Concepción   Pastelería
4    5  17677.0   0.062412        10    Santiago  Bebestibles
5    6  15340.0   0.119852         7  Concepción         Café
6    7  18282.0   0.127779         2    Santiago   Pastelería
7    8  13864.0   0.068892         2    Santiago         Café
8    9  16659.0   0.149370         5  Concepción       Snacks
9   10  15939.0   0.157875         6  Concepción       Snacks
10  11  19657.0   0.171815         7  Concepción  Bebestibles
11  12  19832.0   0.126471         3       Talca   Pastelería
12  13   5271.0   0.105917         6    Santiago       Snacks
13  14   1990.0   0.005960         4  Concepción  Bebestibles
14  15  21000.0   0.084105         8       Talca       Snacks
15  16  22116.0   0.056650         9  Concepción   Pastelería
16  17   8866.0   0.105961         8  Concepción  Bebestibles
17  18   3831.0   0.071428         1      Temuco   Pastelería
18  19  15584.0   0.091692        11  Concepción         Café
19  20  20575.0   0.105917         1  Concepción   Pastelería

4. Reemplaza los nulos de Categoría con el valor más frecuente

In [7]:
df['Categoria'].fillna(df['Categoria'].mode()[0], inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_17156\2481078812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Categoria'].fillna(df['Categoria'].mode()[0], inplace=True)

In [8]:
df.isna().sum().sort_values(ascending=False)

Id           0
Precio       0
Descuento    0
Cantidad     0
Ciudad       0
Categoria    0
dtype: int64

5. Elimina los duplicados

In [9]:
df.duplicated().sum()

np.int64(4)

In [10]:
df=df.drop_duplicates()

In [11]:
df.duplicated().sum()

np.int64(0)

6. Detecta los outliers de Precio usando el método IQR

In [12]:
Q1 = df['Precio'].quantile(0.25)
Q3 = df['Precio'].quantile(0.75)
IQR = Q3 - Q1
Outliers = df[(df['Precio'] < Q1 - 1.5 * IQR) | (df['Precio'] > Q3 + 1.5 * IQR)]

7. Indica cuántos outliers fueron detectados (solo número, no análisis)

In [13]:
Outliers.shape[0] #Outliers de Precio

3

# Bloque 2 Preprocesamiento y Probabilidad

In [14]:
import pandas as pd
df2 = pd.read_csv("productos_demo.csv", sep=";")

In [15]:
df2.isna().sum().sort_values(ascending=False)

Categoria    7
Proveedor    5
Stock        0
Precio       0
dtype: int64

In [16]:
df2['Categoria'].fillna(df2['Categoria'].mode()[0], inplace=True)
df2['Proveedor'].fillna(df2['Proveedor'].mode()[0], inplace=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_17156\1432465839.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Categoria'].fillna(df2['Categoria'].mode()[0], inplace=True)
C:\Users\nicol\AppData\Local\Temp\ipykernel_17156\1432465839.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Proveedor'].fillna(df2['Proveedor'].mode()[0], inplace=True)

In [17]:
df2.isna().sum().sort_values(ascending=False)

Precio       0
Stock        0
Categoria    0
Proveedor    0
dtype: int64

1.  Normaliza las columnas númericas (Precio, Stock) con MinMaxScaler

In [18]:
from sklearn.preprocessing import MinMaxScaler

scalerMM = MinMaxScaler()
df2[['Precio', 'Stock']] = scalerMM.fit_transform(df2[['Precio', 'Stock']])

In [19]:
df2[['Precio', 'Stock']]

       Precio  Stock
0    0.169240  0.192
1    0.314034  0.520
2    0.294622  0.344
3    0.585080  0.912
4    0.592342  0.096
..        ...    ...
138  0.168079  0.216
139  0.332672  0.520
140  0.121799  0.456
141  0.359781  0.216
142  0.585080  0.912

[143 rows x 2 columns]

Codifica las columnas categóricas (Categoria, Proveedor) con OneHotEncoder

In [20]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder(sparse_output=False)
encoded = OHE.fit_transform(df2[['Categoria', 'Proveedor']])
df_encoded = pd.DataFrame(encoded, columns=OHE.get_feature_names_out(['Categoria', 'Proveedor']))
df2 = pd.concat([df2, df_encoded], axis=1)

In [21]:
df2.columns.tolist()

['Precio',
 'Stock',
 'Categoria',
 'Proveedor',
 'Categoria_Línea A',
 'Categoria_Línea B',
 'Categoria_Línea C',
 'Proveedor_ProvCentro',
 'Proveedor_ProvNorte',
 'Proveedor_ProvSur']

In [22]:
df2.drop(columns=['Categoria', 'Proveedor'], inplace=True)

In [23]:
df2

,Precio,Stock,Categoria_Línea A,Categoria_Línea B,Categoria_Línea C,Proveedor_ProvCentro,Proveedor_ProvNorte,Proveedor_ProvSur
0,0.169240,0.192,0.0,1.0,0.0,0.0,0.0,1.0
1,0.314034,0.520,0.0,1.0,0.0,1.0,0.0,0.0
2,0.294622,0.344,0.0,1.0,0.0,0.0,0.0,1.0
3,0.585080,0.912,1.0,0.0,0.0,0.0,0.0,1.0
4,0.592342,0.096,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
138,0.168079,0.216,1.0,0.0,0.0,0.0,0.0,1.0
139,0.332672,0.520,0.0,1.0,0.0,1.0,0.0,0.0
140,0.121799,0.456,1.0,0.0,0.0,0.0,1.0,0.0
141,0.359781,0.216,1.0,0.0,0.0,0.0,0.0,1.0
142,0.585080,0.912,1.0,0.0,0.0,0.0,0.0,1.0

Calcula la probabilidad empírica de que un producto tenga Stock > 50

In [26]:
totalStock = len(df2['Stock'])
favorables = (df2['Stock'] > 50).sum()
pEmpirica = (favorables/totalStock)
print(f"{pEmpirica:.2f}")

0.00

Calcula la probabilidad conjunta de de que Stock > 50 y Precio > 10000

In [25]:
totalStock = len(df2['Stock'])
favorables = ((df2['Stock'] > 50) & (df2['Precio'] > 10000)).sum()
pEmpirica = (favorables/totalStock)
print(f"{favorables:.2f}")

0.00

# Bloque 3 Mini Desafío Integrador